# C# / .NET
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017/2019/2022 cache/options
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Rider
.idea/

# User-specific files
*.DS_Store