@model WMS_Demo.Models.Customer

@{
    ViewData["Title"] = "Xóa khách hàng";
}

<div class="container py-5 text-center">
    <div class="alert alert-danger d-inline-block card-industrial" role="alert">
        <h1 class="display-1"><i class="fa-solid fa-triangle-exclamation"></i></h1>
        <h3 class="fw-bold">BẠN CÓ CHẮC CHẮN MUỐN XÓA Khách Hàng</h3>
        <p class="lead"><strong>@Model.Name</strong></p>
        @* <p class="mb-0 small">...</p> *@
         <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4 text-muted">Tên Khách Hàng</dt>
                <dd class="col-sm-8 fw-bold fs-5">@Model.Name</dd>

                <dt class="col-sm-4 text-muted">Địa chỉ</dt>
                <dd class="col-sm-8">@Model.Address</dd>

                <dt class="col-sm-4 text-muted">Số điện thoại</dt>
                <dd class="col-sm-8"><span class="badge bg-secondary">@Model.PhoneNumber</span></dd>

                
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-secondary btn-lg btn-industrial me-3">No</a>
            <button type="submit" class="btn btn-danger btn-lg btn-industrial">
                <i class="fa-solid fa-trash-can me-2"></i> Yes
            </button>
        </form>
    </div>
</div>